<div class="header-left-menu">
    <div class="header-logo">
        <a href="/">
            <img src="/img/logo/lgo-wa-derecha.png" alt="WA Logo" id="h-lg-logo">
        </a>
        <a href="/">
            <img src="/img/logo/logo-wa-abajo.png" alt="WA Logo" id="h-sm-logo">
        </a>
        <a href="/">
            <img src="/img/logo/logo-wa.png" alt="WA Logo" id="h-xs-logo">
        </a>
    </div>


    <div class="cat-dropdown-menu">
        <h6>Categorías</h6>
        <!--DIV-->
        <div class="menu">
            <ul class="dropdown-nav">
                <li><i class="fas fa-bars"></i>
                    <ul class="dropdown">
                    <% for(let i = 0; i < categories.length; i++) { %>   
                        <li><a href="<%= categories[i].id %>"><%= categories[i].title %></a>
                            <ul class="dropdown-cat">
                            <% for(let j = 0; j < categories[i].courses.length; j++) { %>
                                <li>
                                    <a href="/products/detail/<%= categories[i].courses[j].id %>"><%= categories[i].courses[j].title %> </a>
                                </li>    
                            <% } %> 
                            </ul>
                        </li>
                    <% } %>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="header-searchbar">
        <form action="/products/search" method="GET">
            <input type="text" name="q" placeholder="¿Qué querés aprender hoy?" id="searchbar">
            <i class="fas fa-search" id="search-logo"></i>
        </form>
    </div>
</div>

<div class="header-right-menu">
    <div class="header-cart">
        <a href="/shoppingCart" class="fas fa-shopping-cart"></a>
    </div>

    <% if (loggedInUser == undefined) { %>
    <div class="header-user">
        <a href="/users/login" class="header-user-btn" id="btn-login">Iniciar sesión</a>
        <a href="/users/register" class="header-user-btn" id="btn-signup">Registrarse</a>
        <a href="/users/login" class="fas fa-user"></a>
    </div>
    <% } else { %>
        <div class="header-user">
            <a href="/users" class="header-user-btn" id="btn-login"><%= loggedInUser.name %></a>
            <a href="/users" class="fas fa-user"></a>
        </div>
        <% } %>

</div>