<div class="course">
    <img src="img/cursos/<%= product.image %>" alt="">
    <h4><a href="/products/<%= product.id %>"><%= product.name %></a></h4>
    <p><%= product.description_short %></p>
    <div class="hidden-course-info">
        <p><span class="hidden-course-info-title">Precio:</span> USD <%= product.price %></p>
        <p><span class="hidden-course-info-title">Fecha Inicio:</span> <%= product.start %></p>
        <p><span class="hidden-course-info-title">Vacantes:</span> <%= product.vacancies %></p>
        <a class="btn-addtocart" href="shoppingCart.html" role="button"><i class="fas fa-shopping-cart"></i></a>
    </div>
</div>