<div class="course">
    <img src="img/cursos/<%= courses.image %>" alt="">
    <h4><a href="/products/<%= courses.id %>"><%= courses.name %></a></h4>
    <p><%= courses.description_short %></p>
    <div class="hidden-course-info">
        <p><span class="hidden-course-info-title">Precio:</span> USD <%= courses.price %></p>
        <p><span class="hidden-course-info-title">Fecha Inicio:</span> <%= courses.start_date %></p>
        <p><span class="hidden-course-info-title">Vacantes:</span> <%= courses.vacancies %></p>
        <a class="btn-addtocart" href="/shoppingCart" role="button"><i class="fas fa-shopping-cart"></i></a>
    </div>
</div>