<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <header>
        <%- include('partials/header', {loggedInUser}) %>
    </header>
    
    <div class="container">
        <form action="/users/login" method="POST" class="center" autocomplete="off" id="login-form">
            <div class="row">
                <div class="col-12 register-title">
                    <h2>Inicia Sesión</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <%- include('partials/backEndErrorLogs') %>
                </div>
            </div>
            <div class="row register-input-row">
                <div class="col-12 register-input">
                    <div class="input-group mb-3" id="email-div">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input type="email" class="form-control" placeholder="Correo electrónico" aria-label="Username" aria-describedby="basic-addon1" name="email">
                    </div>
                </div>
            </div>
            <div class="row register-input-row">
                <div class="col-12 register-input">
                    <div class="input-group mb-3" id="password-div">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1" name="password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="checkbox" name="remember" class="remember"> Recordarme
                </div>
            </div>
            <div class="row">
                <div class="col-11 register-btn-col">
                    <button name="submit" type="submit" class="register-btn disabled">Iniciar Sesión</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul>
                        <li class="hidden error-log" id="email-error-log">Debe ser un email válido.</li>
                        <li class="hidden error-log" id="password-error-log">La contraseña debe tener al menos 8 caracteres.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-9 register-login">
                    <h4>¿No tenes una cuenta? <a href="/users/register">Registrate</a></h4>
                </div>
            </div>
        </form>
    </div>
    
    <footer>
       <%- include('partials/footer') %> 
    </footer>
    
    <%- include('partials/scripts') %>

    <script src="/js/loginValidator.js"></script>
    
</body>
</html>