<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/productDetail.css">
</head>

<body>
    <header>
        <%- include('partials/header') %>
        
    </header>
    
    <main class="container">
        <div class="row course-container col-12">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="course-description">
                    <!--Descripcion Larga-->
                    <h2 class="bkgn-white-mrgn-black mgn-btm-15px"><%= courses.name %> </h2>
                    <h3 class="bkgn-white-mrgn-black mgn-btm-15px"><%= courses.category.title %> </h3>
                    <div class="bkgn-white-mrgn-black mgn-btm-15px">
                        <%= courses.description_short %>
                    </div>
                </div>
                <div class="course-img">
                    <!--Imagen Grande-->
                    <img src="/img/cursos/category.jpg" alt="courseImage">
                </div>
            </div>
            <div class="store-card card col-lg-3 col-md-12 col-sm-12">
                <!--Carta de compra-->
                <img src="/img/cursos/curso.jpg" class="card-img-top" alt="cardImage">
                <div class="card-body">
                    <h5 class="card-title"><%= courses.name %></h5>
                    <p class="card-text">Este curso incluye</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Material audiovisual</li>
                    <li class="list-group-item">Recursos descargables</li>
                    <li class="list-group-item">Certificado de finalización</li>
                    <li class="list-group-item">Garantia de reembolso 30 días</li>
                </ul>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><%= `Precio - $${courses.price}` %> </li>
                    </ul>
                </div>
                <div class="card-body">
                    <a class="btn btn-outline-secondary mgn-btm-15px" href="/shoppingCart" role="button">Añadir al
                        carrito</a><br>
                        <a class="btn btn-outline-secondary mgn-btm-15px" href="/shoppingCart" role="button">Comprar
                            ahora</a>
                </div>
            </div>
        </div>
                <div class="second-container col-12">
                    <div class="course col-lg-12 col-md-12 col-sm-12">
                        <!--Descripcion Corta-->
                        <div class="mgn-btm-5px">
                            <h2 class="course-title bkgn-white-mrgn-black mgn-btm-5px"><%= courses.name %></h2>
                        </div>
                        <div class="mgn-btm-5px">
                            <div>
                                <h4 class="bkgn-white-mrgn-black"><%= courses.category.title %></h4>
                            </div>
                        </div>
                        <div>
                            <h5 class="mgn-btm-5px bkgn-white-mrgn-black"><%= courses.description_full %></h5>
                        </div>
                        <div>
                            <p class="mgn-btm-5px bkgn-white-mrgn-black">El curso comienza el <%= courses.starts_date %> <br> Y
                                termina el <%= courses.ends_date %> <br> El horario sera de <%= courses.program.since_time %> hasta las <%= courses.program.up_to_time %><br>
                                Durante los días: <%= courses.program.days %>  
                            </p>
                        </div>
                        <div class="mgn-btm-5px bkgn-white-mrgn-black">
                            <h5>Apurate!! Solo hay <%= courses.vacancies %> vacantes</h5>
                        </div>
                    </div>
                </div>
            </main>
            
            <footer>
                <%- include('partials/footer') %>
            </footer>
            
            <%- include('partials/scripts') %>
        </body>
        
        </html>