<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/productForm.css">
</head>

<body>
    <header>
        <%- include('partials/header') %>
    </header>

    <!--Main-->
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--TITULO-->
                    <h1> <%= title  %> </h1>
                    <!--ERRORES-->
                    <% if (typeof errors != 'undefined') { %> 
                        
                        <h2> <%='Pero, espera! Que hay algun error, verifica la siguiente lista.' %> </h2> 
                        
                        <ul>
                            <% for (let i = 0; i < errors.length; i++) { %> 
                                <li class="back-error-log">
                                    <%= errors[i].msg %> 
                                </li>
                                <% } %> 
                            </ul>
                            <% } %>
                </div>
                <!--ERRORES-->
                <form action="/products/create" method="POST" enctype="multipart/form-data" id="validation"
                    class="center">
                    <div class="row center">
                        <div class="col-md-6 border">
                            <!--Categorias-->
                            <label for="">Categorias</label>
                            <select class="input-mg" <%# chequear clase %> name="category">
                                <option value="0">Selecciona una categoria</option>
                                <% for (let i = 0; i < categories.length; i++) { %>
                                <option name='category' value="<%= categories[i].id %> ">
                                    <%= categories[i].title %>
                                </option>
                                <% } %>
                            </select>
                            <p class="hidden error-log" id="category-error-log">Selecciona una categoria</p>
                        </div>
                        <div class="col-md-6 border">
                            <!--Nombre del curso-->
                            <label for="">Nombre Del Curso</label>
                            <input class="input-mg" type="text" name="courseName" placeholder="Nombre del Curso">
                            <p class="hidden error-log" id="courseName-error-log">Elige un nombre que tenga mas de 2 caracteres</p>
                        </div>
                    </div>
                    <div class="row">
                        <!--Descripcion -->
                        <div class="col-md-12 center">
                            <textarea name="description_full" cols="82%" rows="10" placeholder="Escriba una descripcion detallada del Curso"></textarea>
                            <p class="hidden error-log" id="description-full-error-log">Debe tener un minimo de 255 caracteres</p>
                        </div>
                    </div>
                    <div class="row">
                        <!--Descripcion Corta -->
                        <div class="col-md-12 center">
                            <textarea name="description_short" cols="82%" rows="10" placeholder="Escriba una descripcion breve del Curso"></textarea>
                            <p class="hidden error-log" id="description-short-error-log">Debe tener un minimo de 50 caracteres</p>
                        </div>
                    </div>
                    <div class="row center">
                        <!--Calendario -->
                        <div class="col-md-6 border space">
                            <div>
                                <label for="">Comienzo del Curso</label>
                                <input class="input-mg" type="date" name="starts_date" id="dateInicio" min="">
                                <p class="hidden error-log" id="starts-date-error-log">Selecciona una fecha valida</p>
                            </div>
                            <div>
                                <label for="">Fin del Curso</label>
                                <input class="input-mg" type="date" name="ends_date" id="dateFin" min="">
                                <p class="hidden error-log" id="ends-date-error-log">Selecciona una fecha valida</p>
                            </div>
                        </div>
                        <div class="col-md-6 border space">
                            <div>
                                <label for="">Dias de Cursada</label>
                                <div class="dias">
                                    <select name="days" id="" class="input-mg">
                                        <option value="0">Selecciona los dias de cursada</option>
                                        <option value="Lunes - Miercoles - Viernes">
                                            Lunes - Miercoles - Viernes
                                        </option>
                                        <option value="Martes - Jueves - Sábado">
                                            Martes - Jueves - Sábado
                                        </option>
                                    </select>
                                    <p class="hidden error-log" id="days-error-log">Selecciona los dias de cursad </p>
                                </div>
                            </div>
                            <div>
                                <label for="">Turnos</label>
                                <div>
                                    <select name="shifts" id="" class="input-mg">
                                        <option value="0">Selecciona el Turno</option>
                                        <option value="m">Mañana</option>
                                        <option value="t">Tarde</option>
                                        <option value="n">Noche</option>
                                    </select>
                                    <p class="hidden error-log" id="shifts-error-log">Selecciona un turno</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row center border space tamaño">
                        <!--Logo -->
                        <div class="col-md-12">
                            <label for="">Profesor</label>
                            <select class="input-mg" <%# chequear clase %> name="professor">
                                <option value="0">Selecciona el nombre del profesor</option>
                                <% for (let j = 0; j < professor.length; j++) { %>
                                <option name='professor' value="<%= professor[j].id %> ">
                                    <%= professor[j].first_name + ' ' + professor[j].last_name %>
                                </option>
                                <% } %>
                            </select>
                            <p class="hidden error-log" id="professor-error-log">Selecciona un Profesor</p>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-md-4 border space">
                            <!--Vacantes -->
                            <label for="">Vacantes</label>
                            <input class="input-mg" type="number" min="0" name="vacancies">
                            <p class="hidden error-log" id="vacancies-error-log">Elige entre 12 y 50 Vacantes</p>
                        </div>
                        <div class="col-md-4 border space">
                            <!--Destacado -->
                            <label for="">Destacado</label>
                            <input class="input-mg" type="radio" name="outstanding" value=1>Si
                            <input class="input-mg" type="radio" name="outstanding" checked value=0>No
                        </div>
                        <div class="col-md-4 border space">
                            <!--Precio -->
                            <label for="">Precio U$D</label>
                            <input class="input-mg" type="number" min="0" name="price">
                            <p class="hidden error-log" id="price-error-log">Coloca un precio</p>
                        </div>
                    </div>
                    <div class="row center border space tamaño">
                        <!--Logo -->
                        <div class="col-md-12">
                            <label for="">Imagen</label>
                            <input class="input-mg" type="file" name="image">
                            <p class="hidden error-log" id="image-error-log">Selecciona una imagen con extencion: '.jpg', '.jpeg', '.png', '.gif'</p>
                        </div>
                    </div>
                    <div class="row center">
                        <!--Boton de envio -->
                        <div class="col-md-12 space">
                            <button type="submit" name="submit" class="button">Agregar Curso</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer>
        <%- include('partials/footer') %>
    </footer>
    <%- include('partials/scripts') %>

    <script src="/js/formValidations.js"></script>
</body>

</html>