<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/css/productForm.css">
</head>
<body>
    <header>
        <%- include('partials/header') %> 
    </header>

    <!--Main-->
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12"><!--TITULO-->
                    <h1>Estas editando el curso: <%= courses.name %> </h1>
                </div>
                <form action="/products/edit/<%= courses.id %> ?_method=PUT" method="POST" enctype="multipart/form-data" class="center">
                    <div class="row center">
                        <div class="col-md-6 border">
                            <!--Categorias-->
                            <label for="">Categorias</label>
                            <select class="input-mg" <%# chequear clase %> name="category">
                                <option value=""><%= courses.category.title %></option>
                                <% for (let i = 0; i < categories.length; i++) { %> 
                                <option name='category' value="<%= categories[i].id %> ">
                                    <%= categories[i].title %> 
                                 </option>
                                 <% } %> 
                            </select>
                        </div>
                        <div class="col-md-6 border">
                            <!--Nombre del curso-->
                            <label for="">Nombre Del Curso</label>
                            <input class="input-mg" type="text" name="name" id="" placeholder="Nombre del Curso" value="<%= courses.name %> ">
                        </div>
                    </div>
                    <div class="row"><!--Descripcion -->
                        <div class="col-md-12 center">
                            <textarea name="description" id="" cols="82%" rows="10" placeholder="Escriba una breve Descripcion"><%= courses.description_full %></textarea>
                        </div>
                    </div>
                    <div class="row"><!--Descripcion Corta -->
                        <div class="col-md-12 center">
                            <textarea name="description_short" cols="82%" rows="10" placeholder="Escriba una descripcion corta"><%= courses.description_short %> </textarea>
                        </div>
                    </div>
                    <div class="row center"><!--Calendario --> 
                        <div class="col-md-6 border space">
                            <div>
                                <label for="">Comienzo del Curso</label>
                                <input class="input-mg" type="date" name="start" id="dateInicio" min="" value="<%= courses.starts_date %> ">
                            </div>
                            <div>
                                <label for="">Fin del Curso</label>
                                <input class="input-mg" type="date" name="end" id="dateFin" min="" value="<%= courses.end_date %> ">
                            </div>
                        </div>
                        <div class="col-md-6 border space">
                            <div>
                                <label for="">Dias de Cursada</label>
                                <div class="dias">
                                    <select name="days" id="">
                                        <option value="">Selecciona los dias de cursada</option>
                                        <option value="Lunes - Miercoles - Viernes">
                                            Lunes - Miercoles - Viernes
                                        </option>
                                        <option value="Martes - Jueves - Sabado">
                                            Martes - Jueves - Sabado
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <label for="">Horarios</label>
                                <div>
                                    <label for="">Hora de inicio</label>
                                    <input class="input-mg" type="time" step="1" name="since_time" value="">
                                </div>
                                <div>
                                    <label for="">Hora de finalización</label>
                                    <input class="input-mg" type="time" step="1" name="up_to_time" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row center border space tamaño"><!--Logo -->
                        <div class="col-md-12">
                            <label for="">Profesor</label>
                            <select class="input-mg" <%# chequear clase %> name="professor">
                                <option value="">Selecciona el nombre del profesor</option>
                                <% for (let j = 0; j < professor.length; j++) { %> 
                                <option name='professor' value="<%= professor[j] %> ">
                                    <%= professor[j].first_name + ' ' + professor[j].last_name %> 
                                 </option>
                                 <% } %> 
                            </select>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-md-4 border space">
                            <!--Vacantes -->
                            <label for="">Vacantes</label>
                            <input class="input-mg" type="number" name="vacancies" min="0" placeholder="<%= courses.vacancies %> ">                        
                        </div>
                        <div class="col-md-4 border space">
                            <!--Destacado -->
                            <label for="">Destacado</label>
                            <input class="input-mg" type="radio" name="outstanding" value= 1 >Si
                            <input class="input-mg" type="radio" name="outstanding" value= 0 >No
                        </div>
                        <div class="col-md-4 border space">
                            <!--Precio -->
                            <label for="">Precio U$D</label>
                            <input class="input-mg" type="number" name="price" min="0" placeholder="<%= courses.price %> ">
                        </div>
                    </div>
                    <div class="row center border space tamaño"><!--Logo -->
                        <div class="col-md-12">
                            <label for="">Logo</label>
                            <input class="input-mg" type="file" name="image" id="" value="<%= courses.image %> ">
                        </div>
                    </div>
                    <div class="row center"><!--Boton de envio -->
                        <div class="col-md-12 space">
                            <button type="submit" class="button">Editar Curso</button>
                        </div>
                        
                    </div>
                </form>
                <form action="/products/delete/<%= courses.id %> ?_method=DELETE" method="POST" class="center delete-btn" >
                    <button type="submit" class="button mg-button">Borrar Curso</button>
                </form>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer>
        <%- include('partials/footer') %> 
    </footer>
    <%- include('partials/scripts') %>
</body>
</html>