<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>
    <header>
        <%- include('partials/header') %> 
        
    </header>

    <main class="main-container">
        <div class="row course-container col-12">
            <div class="course col-lg-4 col-md-12 col-sm-12">
                <div class="title-container mgn-btm-15px">
                    <h2 class="course-title bkgn-white-mrgn-black mgn-btm-15px"><%= course.name %> </h2>
                </div>
                <div class="button-categories-container mgn-btm-15px">
                    <div class="button-categorie bkgn-white-mrgn-black">TURNO X</div>
                    <div class="button-categorie bkgn-white-mrgn-black"><%= course.category %></div>
                </div>
                <div class="course-small-description mgn-btm-15px bkgn-white-mrgn-black"><p><%= course.smallDescription%></p></div>
                <div class="course-schedule">
                    <div class="schedule mgn-btm-15px bkgn-white-mrgn-black"><%= course.schedule%></div>
                    <div class="days mgn-btm-15px bkgn-white-mrgn-black"><%= course.days %> </div>
                </div>
                <div class="button-vacancy"></div><!-- no me convence que haya vacantes en un curso online -->
            </div>
            <div class="course-img col-lg-7 col-md-12 col-sm-12">
                <!-- <img src="https://placeimg.com/698/500/tech" alt=""></div> -->
                <img src="/img/placeholder2.png" alt="courseImage"></div>
        </div>
        <div class="second-container col-12">
        <div class="course-description col-lg-8 col-md-12 col-sm-12">
            <h2 class="bkgn-white-mrgn-black mgn-btm-15px"><%= course.name %> </h2>
            <div class="bkgn-white-mrgn-black mgn-btm-15px">
                <%= course.description %> 
            </div>
        </div>
            <div class="store-card card col-lg-3 col-md-12 col-sm-12">
                <!-- <img src="https://placeimg.com/400/300/tech" class="card-img-top" alt="..."> -->
                <img src="/img/placeholder2.png" class="card-img-top" alt="cardImage">
                <div class="card-body">
                  <h5 class="card-title"><%= course.name %></h5>
                  <p class="card-text">Este curso incluye</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Material audiovisual</li>
                  <li class="list-group-item">Recursos descargables</li>
                  <li class="list-group-item">Certificado de finalización</li>
                  <li class="list-group-item">Garantia de reembolso 30 días</li>
                </ul>
                <div class="card-body">
                    <a class="btn btn-outline-secondary mgn-btm-15px" href="/shoppingCart/<%= course.id %>" role="button">Añadir al carrito</a><br>
                    <a class="btn btn-outline-secondary mgn-btm-15px" href="/shoppingCart/<%= course.id %>" role="button">Comprar ahora</a>
                </div>
              </div>
        </div>
    </main>

    <footer>
        <%- include('partials/footer') %> 
    </footer>

    <%- include('partials/scripts') %>
</body>
</html>