<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/css/productForm.css">
</head>
<body>
    <header>
        <%- include('partials/header') %> 
    </header>

    <!--Main-->
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12"><!--TITULO-->
                    <h1>Estas editando el curso: <%= product.name %> </h1>
                </div>
                <form action="/products/edit/<%= product.id %> ?_method=PUT" method="POST" enctype="multipart/form-data" class="center">
                    <div class="row center">
                        <div class="col-md-6 border">
                            <!--Categorias-->
                            <label for="">Categorias</label>
                            <input class="input-mg" type="radio" name="category" value="Arte">Arte
                            <input class="input-mg" type="radio" name="category" value="Desarrollo">Desarrollo
                            <input class="input-mg" type="radio" name="category" value="Desarrollo Personal">Desarrollo Personal<br>
                            <input class="input-mg" type="radio" name="category" value="Diseño">Diseño
                            <input class="input-mg" type="radio" name="category" value="Fotografía">Fotografía
                            <input class="input-mg" type="radio" name="category" value="Informática">Informática<br>
                            <input class="input-mg" type="radio" name="category" value="Marketing">Marketing
                            <input class="input-mg" type="radio" name="category" value="Negocios">Negocios
                        </div>
                        <div class="col-md-6 border">
                            <!--Nombre del curso-->
                            <label for="">Nombre Del Curso</label>
                            <input class="input-mg" type="text" name="name" id="" placeholder="Nombre del Curso" value="<%= product.name %> ">
                        </div>
                    </div>
                    <div class="row"><!--Descripcion -->
                        <div class="col-md-12 center">
                            <textarea name="description" id="" cols="82%" rows="10" placeholder="Escriba una breve Descripcion"><%= product.description %></textarea>
                        </div>
                    </div>
                    <div class="row"><!--Descripcion Corta -->
                        <div class="col-md-12 center">
                            <textarea name="description_short" cols="82%" rows="10" placeholder="Escriba una descripcion corta"><%= product.description_short %> </textarea>
                        </div>
                    </div>
                    <div class="row center"><!--Calendario --> 
                        <div class="col-md-6 border space">
                            <div>
                                <label for="">Comienzo del Curso</label>
                                <input class="input-mg" type="date" name="start" id="dateInicio" min="" value="<%= product.start %> ">
                            </div>
                            <div>
                                <label for="">Fin del Curso</label>
                                <input class="input-mg" type="date" name="end" id="dateFin" min="" value="<%= product.end %> ">
                            </div>
                        </div>
                        <div class="col-md-6 border space">
                            <div>
                                <label for="">Dias de Cursada</label>
                                <div class="dias">
                                    <input class="input-mg" type="checkbox" name="days" value="Lunes">Lun
                                    <input class="input-mg" type="checkbox" name="days" value="Martes">Mar
                                    <input class="input-mg" type="checkbox" name="days" value="Miercoles">Mier
                                    <input class="input-mg" type="checkbox" name="days" value="Jueves">Jue
                                    <input class="input-mg" type="checkbox" name="days" value="Viernes">Vier
                                </div>
                            </div>
                            <div>
                                <label for="">Horarios</label>
                                <input class="input-mg" type="radio" name="time" value="08am - 12pm">08am - 12pm<br>
                                <input class="input-mg" type="radio" name="time" value="13pm - 17pm">13pm - 17pm<br>
                                <input class="input-mg" type="radio" name="time" value="18pm - 22pm">18pm - 22pm<br>
                            </div>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-md-4 border space">
                            <!--Vacantes -->
                            <label for="">Vacantes</label>
                            <input class="input-mg" type="number" name="vacancies" min="0" placeholder="<%= product.vacancies %> ">                        
                        </div>
                        <div class="col-md-4 border space">
                            <!--Destacado -->
                            <label for="">Destacado</label>
                            <input class="input-mg" type="radio" name="outstanding" value="true">Si
                            <input class="input-mg" type="radio" name="outstanding" value="false">No
                        </div>
                        <div class="col-md-4 border space">
                            <!--Precio -->
                            <label for="">Precio U$D</label>
                            <input class="input-mg" type="number" name="price" min="0" placeholder="<%= product.price %> ">
                        </div>
                    </div>
                    <div class="row center"><!--Multimedia -->
                            <div class="col-md-12 border space tamaño">
                                <label for="">Multimedia</label>
                                <input class="input-mg" type="file" name="category_image">
                                <p class="help-block">Hasta 120 MB</p>
                            </div>
                    </div>
                    <div class="row center border space tamaño"><!--Logo -->
                        <div class="col-md-12">
                            <label for="">Logo</label>
                            <input class="input-mg" type="file" name="image" id="" value="<%= product.image %> ">
                        </div>
                    </div>
                    <div class="row center"><!--Boton de envio -->
                        <div class="col-md-12 space">
                            <button type="submit" class="button">Editar Curso</button>
                        </div>
                        
                    </div>
                </form>
                <form action="/products/delete/<%= product.id %> ?_method=DELETE" method="POST" class="center delete-btn" >
                    <button type="submit" class="button mg-button">Borrar Curso</button>
                </form>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer>
        <%- include('partials/footer') %> 
    </footer>
    <%- include('partials/scripts') %>
</body>
</html>