<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/css/productForm.css">
</head>
<body>
    <header>
        <%- include('partials/header') %> 
    </header>

    <!--Main-->
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12"><!--TITULO-->
                    <h1>Estas editando el curso: <%= courses.name %> </h1>

                    <% if (typeof errors != 'undefined') { %> 
                        
                         <h2> <%='Pero, espera! Que hay algun error, cheque la siguiente lista.' %> </h2> 
                        
                        <ul>
                            <% for (let i = 0; i < errors.length; i++) { %> 
                                <li class="back-error-log">
                                    <%= errors[i].msg %> 
                                </li>
                                <% } %> 
                        </ul>
                    <% } %> 

                </div>
                <form action="/products/edit/<%= courses.id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="validation" class="center">
                    <div class="row center">
                        <div class="col-md-6 border" id="category-div">
                            <!--Categorias-->
                            <label for="">Categorias</label>
                            <select class="input-mg" <%# chequear clase %> name="category">
                                <option value="0">Selecciona una categoria</option>
                                <% for (let i = 0; i < categories.length; i++) { %> 
                                <option value="<%= categories[i].id %>">
                                    <%= categories[i].title %> 
                                 </option>
                                 <% } %> 
                            </select>
                        </div>
                        <div class="col-md-6 border" id="name-div">
                            <!--Nombre del curso-->
                            <label for="">Nombre Del Curso</label>
                            <input class="input-mg" type="text" name="courseName" placeholder="Nombre del Curso" value="<%= courses.name %>">
                        </div>
                    </div>
                    <div class="row"><!--Descripcion completa -->
                        <div class="col-md-12 center" id="descFull-div">
                            <textarea name="description_full" id="" cols="82%" rows="10" placeholder="Escriba una descripcion detallada del Curso"><%= courses.description_full %></textarea>
                        </div>
                    </div>
                    <div class="row"><!--Descripcion Corta -->
                        <div class="col-md-12 center" id="descShort-div">
                            <textarea name="description_short" cols="82%" rows="10" placeholder="Escriba una descripcion breve del Curso"><%= courses.description_short %> </textarea>
                        </div>
                    </div>
                    <div class="row center"><!--Calendario --> 
                        <div class="col-md-6 border space">
                            <div id="startsDate-div">
                                <label for="">Comienzo del Curso</label>
                                <input class="input-mg" type="date" name="starts_date" id="dateInicio" min="" value="<%= courses.starts_date %>">
                            </div>
                            <div id="endsDate-div">
                                <label for="">Fin del Curso</label>
                                <input class="input-mg" type="date" name="ends_date" id="dateFin" min="" value="<%= courses.ends_date %>">
                            </div>
                        </div>
                        <div class="col-md-6 border space">
                            <div>
                                <label for="">Dias de Cursada</label>
                                <div class="dias" id="days-div">
                                    <select name="days" id="" class="input-mg">
                                        <option value="0">Selecciona los dias de cursada</option>
                                        <option value="Lunes - Miercoles - Viernes">
                                            Lunes - Miercoles - Viernes
                                        </option>
                                        <option value="Martes - Jueves - Sábado">
                                            Martes - Jueves - Sábado
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <label for="">Turnos</label>
                                <div id="shifts-div">
                                    <select name="shifts" id="" class="input-mg">
                                        <option value="0">Selecciona el Turno</option>
                                        <option value="m">Mañana</option>
                                        <option value="t">Tarde</option>
                                        <option value="n">Noche</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row center border space tamaño"><!--Logo -->
                        <div class="col-md-12" id="professor-div">
                            <label for="">Profesor</label>
                            <select class="input-mg" <%# chequear clase %> name="professor">
                                <option value="0">Selecciona el nombre del profesor</option>
                                <% for (let j = 0; j < professor.length; j++) { %> 
                                <option name='professor' value="<%= professor[j].id %> ">
                                    <%= professor[j].first_name + ' ' + professor[j].last_name %> 
                                 </option>
                                 <% } %> 
                            </select>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-md-4 border space" id="vacancies-div">
                            <!--Vacantes -->
                            <label for="">Vacantes</label>
                            <input class="input-mg" type="number" name="vacancies" min="0" placeholder="<%= courses.vacancies %> ">                        
                        </div>
                        <div class="col-md-4 border space" id="outstanding-div">
                            <!--Destacado -->
                            <label for="">Destacado</label>
                            <input class="input-mg" type="radio" name="outstanding" value= 1 >Si
                            <input class="input-mg" type="radio" name="outstanding" checked value= 0 >No
                        </div>
                        <div class="col-md-4 border space" id="price-div">
                            <!--Precio -->
                            <label for="">Precio U$D</label>
                            <input class="input-mg" type="number" name="price" min="0" placeholder="<%= courses.price %> ">
                        </div>
                    </div>
                    <div class="row center border space tamaño"><!--Logo -->
                        <div class="col-md-12">
                            <label for="">Logo</label>
                            <input class="input-mg" type="file" name="image" id="" value="<%= courses.image %> ">
                        </div>
                    </div>
                    <div class="row center"><!--Boton de envio -->
                        <div class="col-md-12 space">
                            <button type="submit" name="submit" class="button">Editar Curso</button>
                        </div>
                        
                    </div>
                </form>
                <form action="/products/delete/<%= courses.id %>?_method=DELETE" method="POST" class="center delete-btn" >
                    <button type="submit" class="button mg-button">Borrar Curso</button>
                </form>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer>
        <%- include('partials/footer') %> 
    </footer>
    <%- include('partials/scripts') %>

    <script src="/js/formValidations.js"></script>
</body>
</html>