<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/products.css">
</head>

<body>
    <header>
        <%- include('partials/header') %>
    </header>

    <main>
        <div class="container">
            <h1>
                <%= title %>
            </h1>
            <% for(let i = 0; i< course.length; i++) { %> 
            <h2>
                <%= course[i].category.title %>
            </h2>
            <div class="row center-90">
                <div class="row">
                    <div class="course col-9 col-md-5 col-lg-3">
                        <img src="<%= course[i].image %>" alt="">
                        <h4><a href="/products/detail/<%= course[i].id %>"><%= course[i].name %></a></h4>
                        <p><%= course[i].description_short %></p>
                    </div>
                </div>
            </div>
            <% } %> 
        </div>
    </main>

    <footer>
        <% include('partials/footer') %>
    </footer>

    <%- include('partials/scripts') %>
</body>

</html>