<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/products.css">
</head>

<body>
    <header>
        <%- include('partials/header') %>
    </header>

    <main>
        <div>
            <section class="products-section">
                
                <article class="products-sec-title">
                    <h4><%= title %></h4>
                </article>
                
                <article class="products-sec-courses">
                    <% for (let i=0; i < course.length; i++) { %>
                            <div class="course">
                                <img src="<%= course[i].image %>" alt="">
                                <h4><a href="/products/detail/<%= course[i].id %>"><%= course[i].name %></a></h4>
                                <h6><%= course[i].category.title %></h6>
                                <p><%= course[i].description_short %></p>

                                <div class="hidden-course-info">
                                    <p><span class="hidden-course-info-title">Precio:</span> USD <%= course[i].price %></p>
                                    <p><span class="hidden-course-info-title">Fecha Inicio:</span> <%= course[i].starts_date %></p>
                                    <p><span class="hidden-course-info-title">Vacantes:</span> <%= course[i].vacancies %></p>
                                    <a class="btn-addtocart" href="/shoppingCart" role="button"><i class="fas fa-shopping-cart"></i></a>
                                </div>

                            </div>
                    <% } %>
                </article>

            </section>
        </div>
    </main>

    <footer>
        <% include('partials/footer') %>
    </footer>

    <%- include('partials/scripts') %>
</body>

</html>