<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/css/shoppingCart.css">
</head>
<body>
    <header>
        <%- include('partials/header') %> 
    </header>
    
    <main>
        <div class="container-fluid">
            <div class="row cart-title">
                <div class="col-12 cart-title-h1-h2">
                    <h1 class="title">
                        CARRITO DE COMPRAS
                    </h1>
                    <% if (error) { %>
                        <h2 class="quantity">
                            Lo sentimos, no existen cursos en tu carrito.
                        </h2>
                    <% } else { %>
                        <h2 class="quantity">
                            <span class="q-number"><%= courses.length %> </span> cursos en el carrito
                        </h2>
                    <% } %>
                </div>
            </div>
            <% for( let i = 0; i < courses.length; i++ ) { %>
                <div class="row cart-info">
                    <div class="col-2 cart-course-logo">
                        <img src=<%= courses[i].courses.image %> alt="">
                    </div>
                    <div class="col-10 col-md-5 cart-course-info">
                        <h4><%= courses[i].courses.name %></h4>
                        <p><%= courses[i].courses.starts_date %> - <%= courses[i].courses.ends_date %></p>
                    </div>
                    <div class="col-6 col-md-3 cart-course-options">
                        <ul>
                            <li><a href="">Eliminar</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-2 cart-course-price">
                        <span>US$ <%= courses[i].courses.price %></span>
                    </div>
                </div>
            <% } %>

            <% if (!error) { %>
                <div class="row final-price">
                    <div class="col-12 final-price-col">
                        <h4>Total: <span>US$ TOTAL PRICE</span> </h4>
                    </div>
                </div>
                <div class="row payment">
                    <div class="col-4 payment-methods">
                        <ul>
                            <li><i class="fab fa-cc-visa visa"></i></li>
                            <li><i class="fab fa-cc-mastercard mastercard"></i></li>
                        </ul>
                    </div>
                    <div class="col-4 payment-btn-col">
                        <a class="cart-payment-btn" href="" role="button">Pagar</a>
                    </div>
                </div>
            <% } %>

            
        </div>
    </main>
    
    <footer>
        <%- include('partials/footer') %> 
    </footer>
    
    <%- include('partials/scripts') %>
</body>
</html>