<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/users.css">
</head>
<body>
    <header>
        <%- include('partials/header') %> 
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <h2>¡Bienvenido/a devuelta <%= loggedInUser.name %>!</h2>
                    <h4>Estos son tus datos:</h4>
                </div>
            </div>
            <div class="row data-row">
                <div class="col-12 col-md-3 avatar-div">
                    <img src="<%= loggedInUser.avatar %>" alt="" class="avatar">
                </div>
                <div class="col-12 col-md-9">
                    <p> <span class="identifier">Nombre:</span> <%= loggedInUser.name %> </p>
                    <p> <span class="identifier">Email:</span> <%= loggedInUser.email%></p>
                    <a href="/users/editProfile/<%= loggedInUser.id %>" class="edit-profile">Editar Perfil</a>
                    <br>
                    <form action="/users/logout" method="POST">
                        <button type="submit" class="logout-btn">Cerrar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('partials/footer') %> 
    </footer>
    
    <%- include('partials/scripts') %>
</body>
</html>